@font-face {
    font-family: "Roboto-Thin";
    src: url(../vendor/fonts/ROBOTO/Roboto-Thin.ttf) format("truetype");
}
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
h1 {
  font-family: Roboto-Thin;
}
#contenedor {
  border-radius: 10px; 
  border: 2px solid #bfbaba;
  margin-top: 30px;
  height: 800px;
  font-family: Roboto-Thin;
}
#contenedor3 {
  border-radius: 10px; 
  border: 2px solid #bfbaba;
  margin-top: 30px;
  height: 500px;
  font-family: Roboto-Thin;
}
.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.btn-warning {
  color: #fff;
}

/*Error_Busqueda.css*/
#contenedor1{
  border-radius: 10px; 
  border: 2px solid #bfbaba;
  font-family: Roboto-Thin; 
}

#contenedor2{
  font-family: Roboto-Thin; 
  margin-top: 60px;
}

#contenedor2 h2{
  font-family: Roboto-Thin;
  text-align: center;
  color: #5d78b9; 
  margin-bottom: 20px;
}

#icon1{
  
}

#icon-exclamation{
  margin:40px 80px;
}

#article1{
  margin-top: 30px;
  margin-bottom: 20px;
}

#article1>h2{
    color: #5d78b9;
    font-size: 22px;
}

#article1>ul{
    list-style: none;
    margin-top: 30px;
    font-size: 20px;
    padding: 0;
}

.articulos-vistos{
  border-radius:30px ; 
  border: 0.2px solid rgba(0,0,0,0.1);
  font-family: Roboto-Thin;
  margin-bottom: 40px;
}

.articulos-vistos:hover{
  border-radius:30px; 
  border: 1px solid #FFB719;
  font-family: Roboto-Thin;
  padding: 10px;
}

.articulos-vistos>h6{
  margin-top: 4px;
  font-weight: bold;
}

.articulos-vistos ul{
  list-style: none;
  padding: 0;
}
.articulos-vistos ul li{
  font-size: 15px;
}

.imagenes-item{
  width: 100%;
  border-radius:10%; 
}


@media (min-width: 574px) {
  
}

/*Fin Error_Busqueda.css*/ 



.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.btn-warning {
  color: #fff;
}